div.container
  div.watch    
    div.watch__band.watch__band__top   
    div.watch__case      
      div.watch__case--1
      div.watch__case--2
      div.watch__case__connect
      div.watch__case--3
        div.watch__hands
          div.watch__hands--ring
          div.watch__hands--min#min
          div.watch__hands--hour#hour
          div.watch__hands--sec
    div.watch__buttons
      div.watch__buttons--dial
      div.watch__buttons--button
    div.watch__band.watch__band__bottom
  div.title Apple Watch Pure CSS    